<%
  # Locals
  #   - trip
  #   - action
%>

<%= simple_form_for(trip, html: { class:'form-horizontal', id: 'trip-form' }) do |form| %>

  <%= error_messages_for(trip) %>

  <%= form.input :name %>
  <%= form.input :description %>
  <%= form.input :invitees, hint: 'Comma separated list of emails' %>
  <%= form.input :is_public, as: :radio_buttons %>

  <div class="control-group">
    <label class="optional control-label">Destinations</label>
    <div class="controls">
      <ul id="destinations-container"></ul>
      <a href="#" id="add-destination">Add a destination</a>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag "Save & edit budgets", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', trips_path, class: 'secondary-action' %>
  </div>
<% end %>

<script type="text/template" id="destination-template">
  <li class="destination">
    <input type="hidden" name="trip[destinations][<%%= index %>][id]" value="<%%= destination.id %>" />
    <input class="name" type="text" name="trip[destinations][<%%= index %>][name]" value="<%%= destination.name %>" placeholder="Enter a city name">
    <input class="datepicker" type="text" name="trip[destinations][<%%= index %>][from_date]" value="<%%= destination.from_date %>" placeholder="yyyy-mm-dd">
    <input class="datepicker" type="text" name="trip[destinations][<%%= index %>][to_date]" value="<%%= destination.to_date %>" placeholder="yyyy-mm-dd">

    <a href="#" class="remove-destination">X</a>
  </li>
</script>

<%= content_for :javascript do %>
  $(function () {
    var view = new TripBudget.Views.EditTrip(<%= {
      destinations: @trip.destinations.map do |d|
        {
          id: d.id,
          name: d.name,
          from_date: pretty_date(d.from_date),
          to_date: pretty_date(d.to_date),
          google_address: d.google_address
        }
      end
    }.to_json.html_safe %>);
    view.appendAll();
  });
<% end %>
