<section class="intro">
  <div class="container-fluid ">
    <div class="row-fluid">
      <div class="span8">
        <%= image_tag('home/main_screenshot.png', alt: 'Main screenshot') %>
      </div>

      <div class="span4">
        <%= title ('Collective budget planning made easy') %>
        <p>Enter the locations and estimates of your expenses. Share with your travel group and get the most out of your money.</p>
        <p>We do the maths for you.</p>
        <%= link_to 'Create a trip', new_trip_path, class: 'btn btn-primary btn-large' %>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid steps">
  <div class="row-fluid">
    <h1 class="secondary-heading">Getting started in 3 simple steps</h1>
    <ul>
      <li class="first">
        <%= image_tag('home/step1.png', alt: 'Create a trip') %>
        <h1 class="tertiary-heading">Create a trip</h1>
        <p>Pick destinations and invite your travel companions</p>
      </li>
      <li class="second">
        <%= image_tag('home/step2.png', alt: 'Estimate your expenses') %>
        <h1 class="tertiary-heading">Estimate your expenses</h1>
        <p>Add alternatives and discuss about them.</p>
      </li>
      <li class="third">
        <%= image_tag('home/step3.png', alt: 'Get the most out of your budget') %>
        <h1 class="tertiary-heading">Get the most out of your budget</h1>
        <p>Sit back and relax, we do the maths for you!</p>
      </li>
    </ul>
  </div>
</section>

<% if (@editor_picks | @popular_picks | @latest_picks).any? %>
  <section class="container-fluid public-budgets">
    <h1 class="secondary-heading">Browse public budgets</h1>
    <div class="row-fluid">

      <%# TODO: Public trips widget %>

      <% if @editor_picks.any? %>
        <section class="span4">
          <h1 class="tertiary-heading">Editor Picks</h1>
          <ul>
            <% @editor_picks.each do |trip| %>
              <li><%= link_to trip.name, trip_path(trip) %></li>
            <% end %>
          </ul>
        </section>
      <% end %>
      <% if @popular_picks.any? %>
        <section class="span4">
          <h1 class="tertiary-heading">Popular Trips</h1>
          <ul>
            <% @popular_picks.each do |trip| %>
              <li><%= link_to trip.name, trip_path(trip) %></li>
            <% end %>
          </ul>
        </section>
      <% end %>
      <% if @latest_picks.any? %>
        <section class="span4">
          <h1 class="tertiary-heading">Latest Trips</h1>
          <ul>
            <% @latest_picks.each do |trip| %>
              <li><%= link_to trip.name, trip_path(trip) %></li>
            <% end %>
          </ul>
        </section>
      <% end %>
    </div>
  </section>
<% end %>
