<section class="container-fluid intro">
  <div class="row-fluid">
    <div class="span8">
      <%= image_tag('home/main_screenshot.png', alt: 'Main screenshot') %>
    </div>

    <div class="span4">
      <%= title ('Collective budget planning made easy') %>
      <p>Enter the locations and estimates of your expenses. Share with your travel companions and get the most out of your money. We do the maths for you.</p>
      <%= link_to 'Create a trip', new_trip_path, class: 'btn btn-primary' %>
    </div>
  </div>
</section>

<section class="container-fluid steps">
  <div class="row-fluid">
    <h1 class="secondary-heading">Get started in 3 simple steps</h1>
    <ul>
      <li>
        <h1 class="tertiary-heading">Create a trip</h1>
        <p>Pick destinations and invite your travel companions</p>
        <%= image_tag('home/step1.png', alt: 'Create a trip') %>
      </li>
      <li>
        <h1 class="tertiary-heading">Estimate your expenses</h1>
        <p>Add alternatives and discuss about them in an organized way.</p>
        <%= image_tag('home/step2.png', alt: 'Estimate your expenses') %>
      </li>
      <li>
        <h1 class="tertiary-heading">Get the most out of your budget</h1>
        <p>Sit back and relax, we do the maths for you!</p>
        <%= image_tag('home/step3.png', alt: 'Get the most out of your budget') %>
      </li>
    </ul>
  </div>
</section>

<section class="container-fluid">
  <h1 class="secondary-heading">Browse public budgets</h1>
  <div class="row-fluid">
    <section class="span4">
      <h1 class="tertiary-heading">Editor Picks</h1>
      <ul>
        <li><%= link_to 'Euro Trip', '#' %></li>
        <li><%= link_to 'Marco Polo', '#' %></li>
        <li><%= link_to 'Asia for 2', '#' %></li>
      </ul>
    </section>
    <section class="span4">
      <h1 class="tertiary-heading">Popular Trips</h1>
      <ul>
        <li><%= link_to 'Euro Trip', '#' %></li>
        <li><%= link_to 'Marco Polo', '#' %></li>
        <li><%= link_to 'Asia for 2', '#' %></li>
      </ul>
    </section>
    <section class="span4">
      <h1 class="tertiary-heading">Latest Trips</h1>
      <ul>
        <li><%= link_to 'Euro Trip', '#' %></li>
        <li><%= link_to 'Marco Polo', '#' %></li>
        <li><%= link_to 'Asia for 2', '#' %></li>
      </ul>
    </section>
  </div>
</section>
