<%= title @trip.name, visible: false %>

<h1 id="editable-header" class="main-heading"><%= @trip.name %></h1>
<p class="secondary-heading"><%= @trip.description %></p>

<ul id="travellers-list">
  <% @trip.travellers.each do |traveller| %>
    <li class="<%= @destination.travellers.include?(traveller) ? 'included' : 'excluded' %>">
      <%= link_to '#', class: 'traveller-disabling', data: { id: traveller.id }, rel: 'tooltip', title: traveller.display_name do %>
        <%= image_tag traveller.image.blank? ? 'default_traveller.png' : traveller.image, alt: traveller.display_name %>
      <% end %>
    </li>
  <% end %>
</ul>

<ul class="nav nav-pills">
  <% @trip.destinations.each do |destination| %>
    <li class="<%= destination == @destination ? 'active' : '' %>"><%= link_to destination.name, edit_trip_destination_path(@trip, destination) %></li>
  <% end %>
</ul>

<%= form_for @destination, url: trip_destination_path(@trip, @destination, format: :json), html: { id: 'expenses-form' } do |f| %>

  <div id="expenses-form-inner-wrapper"></div>

  <p>
    <a href="#" id="add-expense">Add new budget</a>
    <span class="total-label">Total</span>
    <strong id="total-price"></strong>
  </p>

  <p>
    <% if @destination.prev_destination %>
      <%= link_to "< Prev (#{@destination.prev_destination.name})", edit_trip_destination_path(@trip, @destination.prev_destination), class: 'submit-expense' %>
    <% end %>
    <% if @destination.next_destination %>
      <%= link_to "(#{@destination.next_destination.name}) Next >", edit_trip_destination_path(@trip, @destination.next_destination), class: 'submit-expense' %>
    <% else %>
      <%= link_to 'Summary', '#', class: 'submit-expense' %>
    <% end %>
  </p>
<% end %>

<script type="text/template" id="expense-template">
  <section class="expense">
    <h1 class="tertiary-heading"><%%= expense.name %></h1>

    <div class="alternatives-wrapper">
      <input type="hidden" name="expense[id]" value="<%%= expense.id %>" class="expense-id" />

      <ul class="alternatives"></ul>

      <section class="comments">
        <div class="add-comment">
          <textarea name="expense[<%%= expense.id %>][comments][][body]" class="comment-body" />
          <%% if (is_new_expense === false) { %>
            <button class="btn">Comment!</button>
          <%% } %>
        </div>
        <ul class="comment-list"></ul>
      </section>

      <a href="#" class="add-alternative">Add an alternative</a>
      <a href="#" class="remove-expense">Remove expense X</a>
    </div>
  </section>
</script>

<script type="text/template" id="alternative-template">
  <li class="form-inline">
    <input type="hidden" name="alternative[id]" value="<%%= alternative.id %>" class="alternative-id" />
    <span class="is_checked">
      <input type="radio" name="alternative[<%%= index %>][is_checked]" <%% if (alternative.is_checked) { %>checked="checked"<%% } %> >
    </span>

    <div class="input-prepend">
      <span class="add-on">$</span>
      <input class="cost-input input-small" type="text" name="alternative[<%%= index %>][cost]" value="<%%= alternative.cost %>" placeholder="0.00" >
    </div>

    <div class="btn-group person_gap gap" data-toggle="buttons-radio">
      <button type="button" class="btn per_person"><span class="icon"></span></button>
      <button type="button" class="btn per_group"><span class="icon"></span></button>
    </div>
    <div class="btn-group time_gap gap" data-toggle="buttons-radio">
      <button type="button" class="btn per_day"><span class="icon"></span></button>
      <button type="button" class="btn per_stay"><span class="icon"></span></button>
    </div>

    <div class="input-prepend link-url">
      <span class="add-on"><span class="icon"></span></span>
      <input class="input-xlarge" type="text" name="alternative[<%%= index %>][link]" value="<%%= alternative.link %>" placeholder="http://..." >
    </div>

    <a href="#" class="remove-alternative icon"></a>
  </li>
</script>

<script type="text/template" id="comment-template">
  <p><%%= comment.body %></p>
</script>

<%= content_for :javascript do %>
  $(function () {
    var view = new TripBudget.Views.DestinationsHandler(<%= {
      travellers: @destination.travellers,
      destination: @destination,
      expenses: @destination.expenses.map {|e| e.attributes.merge(alternatives: e.alternatives, comments: e.comments) },
      totalDays: @destination.total_days,
      travellersNumber: @destination.travellers.count,
      minorUpdatePath: minor_update_trip_destination_path(@trip, @destination, format: :json),
      commentSubmitPath: create_comment_trip_destination_path(@trip, @destination, format: :json)
    }.to_json.html_safe %>);

    view.appendAll();

    $('#editable-header').editable({
      type: 'text',
      title: 'Edit destination name',
      pk: <%= @destination.id %>,
      url: '<%= minor_update_trip_destination_path(@trip, @destination, format: :json) %>',
      params: {
        "csrf-token": $('[name="csrf-token"]').attr('content')
      }
    });
  });
<% end %>
