<h1 id="editable-header"><%= @trip.name %></h1>
<p><%= @trip.description %></p>

<ul id="travellers-list">
  <% @trip.travellers.each do |traveller| %>
    <li class="<%= @destination.travellers.include?(traveller) ? 'included' : 'excluded' %>">
      <%= link_to '#', class: 'traveller-disabling', data: { id: traveller.id } do %>
        <%= image_tag traveller.image.blank? ? 'default_traveller.png' : traveller.image, alt: traveller.name %>
      <% end %>
    </li>
  <% end %>
</ul>

<header>
  <h1><%= @destination.name %></h1>
  <h2>
    <%= pretty_date(@destination.from_date) %> -
    <%= pretty_date(@destination.to_date) %> -
    <span class="days-diff">
      <%= @destination.total_days %> day(s)
    </span>
  </h2>
</header>

<%= form_for @destination, url: trip_destination_path(@trip, @destination, format: :json), html: { id: 'expenses-form' } do |f| %>

  <div id="expenses-form-inner-wrapper"></div>

  <p>
    <a href="#" id="add-expense">Add new budget</a>
    <span class="total-label">Total</span>
    <strong id="total-price"></strong>
  </p>

  <p>
    <% if @destination.prev_destination %>
      <%= link_to "< Prev (#{@destination.prev_destination.name})", edit_trip_destination_path(@trip, @destination.prev_destination), class: 'submit-expense' %>
    <% end %>
    <% if @destination.next_destination %>
      <%= link_to "(#{@destination.next_destination.name}) Next >", edit_trip_destination_path(@trip, @destination.next_destination), class: 'submit-expense' %>
    <% else %>
      <%= link_to 'Summary', '#', class: 'submit-expense' %>
    <% end %>
  </p>
<% end %>

<script type="text/template" id="expense-template">
  <div class="expense">
    <h1><%%= expense.name %></h1>

    <input type="hidden" name="expense[id]" value="<%%= expense.id %>" class="expense-id" />

    <ul class="alternatives"></ul>

    <section class="comments">
      <div class="add-comment">
        <textarea name="expense[<%%= expense.id %>][comments][][body]" class="comment-body" />
        <%% if (is_new_expense === false) { %>
          <button class="btn">Comment!</button>
        <%% } %>
      </div>
      <ul class="comment-list"></ul>
    </section>

    <a href="#" class="add-alternative">Add an alternative</a>
    <a href="#" class="remove-expense">Remove expense X</a>
  </div>
</script>

<script type="text/template" id="alternative-template">
  <li>
    <input type="hidden" name="alternative[id]" value="<%%= alternative.id %>" class="alternative-id" />
    <span class="is_checked">
      <input type="radio" name="alternative[<%%= index %>][is_checked]" <%% if (alternative.is_checked) { %>checked="checked"<%% } %> />
    </span>
    $ <input type="text" name="alternative[<%%= index %>][cost]" value="<%%= alternative.cost %>" class="cost-input" />
    <div class="btn-group person_gap" data-toggle="buttons-radio">
      <button type="button" class="btn per_person">Per person</button>
      <button type="button" class="btn per_group">Per Group</button>
    </div>
    <div class="btn-group time_gap" data-toggle="buttons-radio">
      <button type="button" class="btn per_day">Per day</button>
      <button type="button" class="btn per_stay">Per stay</button>
    </div>
    <span class="link-url">
      <input type="text" name="alternative[<%%= index %>][link]" value="<%%= alternative.link_url %>" />
    </span>
    <a href="#" class="remove-alternative">X</a>
  </li>
</script>

<script type="text/template" id="comment-template">
  <%%= comment.body %>
</script>

<%= content_for :javascript do %>
  $(function () {
    var view = new TripBudget.Views.DestinationsHandler(<%= {
      travellers: @destination.travellers,
      destination: @destination,
      expenses: @destination.expenses.map {|e| e.attributes.merge(alternatives: e.alternatives, comments: e.comments) },
      totalDays: @destination.total_days,
      travellersNumber: @destination.travellers.count,
      minorUpdatePath: minor_update_trip_destination_path(@trip, @destination, format: :json)
    }.to_json.html_safe %>);

    view.appendAll();

    $('#editable-header').editable({
      type: 'text',
      title: 'Edit destination name',
      pk: <%= @destination.id %>,
      url: '<%= minor_update_trip_destination_path(@trip, @destination, format: :json) %>',
      params: {
        "csrf-token": $('[name="csrf-token"]').attr('content')
      }
    });
  });
<% end %>
