<%= title @trip.name, visible: false %>

<h1 id="editable-header" class="main-heading"><%= @trip.name %></h1>
<p class="secondary-heading"><%= @trip.description %></p>

<ul id="travellers-list">
  <% @trip.travellers.each do |traveller| %>
    <li class="<%= @destination.travellers.include?(traveller) ? 'included' : 'excluded' %>">
      <%= link_to '#', class: 'traveller-disabling', data: { id: traveller.id }, rel: 'tooltip', title: traveller.display_name do %>
        <%= image_tag traveller.image.blank? ? 'default_traveller.png' : traveller.image, alt: traveller.display_name %>
      <% end %>
    </li>
  <% end %>
</ul>

<ul class="nav nav-pills">
  <% @trip.destinations.each do |destination| %>
    <li class="<%= destination == @destination ? 'active' : '' %>"><%= link_to destination.name, edit_trip_destination_path(@trip, destination) %></li>
  <% end %>
</ul>

<%= form_for @destination, url: trip_destination_path(@trip, @destination, format: :json), html: { id: 'expenses-form' } do |f| %>

  <div id="expenses-form-inner-wrapper"></div>

  <section class="totals">
    <h1 class="tertiary-heading">Total: <strong id="total-price"></strong></h1>
    <a href="#" id="add-expense" class="add">Add a new expense</a>
  </section>

  <div class="destination-actions">
    <% if @destination.prev_destination %>
      <%= link_to "Prev: #{@destination.prev_destination.name}", edit_trip_destination_path(@trip, @destination.prev_destination), class: 'btn btn-large submit-expense' %>
    <% end %>
    <% if @destination.next_destination %>
      <%= link_to "Next: #{@destination.next_destination.name}", edit_trip_destination_path(@trip, @destination.next_destination), class: 'btn btn-large btn-primary submit-expense next' %>
    <% else %>
      <%= link_to 'Summary', trip_url(@trip), class: 'btn btn-primary btn-large submit-expense' %>
    <% end %>
  </div>
<% end %>

<script type="text/template" id="expense-template">
  <section class="expense">
    <h1 class="tertiary-heading" id="expense-title-<%%= expense.id %>"><%%= expense.name %></h1>

    <div class="alternatives-wrapper">
      <input type="hidden" name="expense[id]" value="<%%= expense.id %>" class="expense-id" />
      <input type="hidden" name="expense[category]" value="<%%= expense.category %>" class="expense-category" />

      <ul class="alternatives"></ul>

      <a href="#" class="action add-alternative"><i class="icon-plus"></i> Add an alternative</a>
      <a href="#" class="action toggle-comments"><i class="icon-comment"></i> Show/hide comments</a>

      <section class="comments">
        <ul class="comment-list"></ul>

        <div class="add-comment comment">

          <%= image_tag(current_user.image, alt: current_user.display_name) %>

          <div class="input-append">
            <input type="text" name="expense[<%%= expense.id %>][comments][][body]" class="comment-body input-xxlarge" placeholder="Leave a comment..." />

            <%% if (is_new_expense === false) { %>
              <button class="btn" type="button">Comment</button>
            <%% } %>
          </div>
        </div>
      </section>


      <a href="#" class="remove remove-expense"><span>Remove expense</span></a>
    </div>
  </section>
</script>

<script type="text/template" id="alternative-template">
  <li class="form-inline">
    <input type="hidden" name="alternative[id]" value="<%%= alternative.id %>" class="alternative-id" />
    <span class="is_checked">
      <input type="radio" name="alternative[<%%= index %>][is_checked]" <%% if (alternative.is_checked) { %>checked="checked"<%% } %> >
    </span>

    <div class="input-prepend">
      <span class="add-on">$</span>
      <input class="cost-input input-small" type="text" name="alternative[<%%= index %>][cost]" value="<%%= alternative.cost %>" placeholder="0.00" >
    </div>

    <div class="btn-group person_gap gap" data-toggle="buttons-radio">
      <button type="button" class="btn per_person"><span class="icon"></span></button>
      <button type="button" class="btn per_group"><span class="icon"></span></button>
    </div>
    <div class="btn-group time_gap gap" data-toggle="buttons-radio">
      <button type="button" class="btn per_day"><span class="icon"></span></button>
      <button type="button" class="btn per_stay"><span class="icon"></span></button>
    </div>

    <div class="input-prepend link-url">
      <span class="add-on"><span class="icon"></span></span>
      <input class="input-xlarge" type="text" name="alternative[<%%= index %>][link]" value="<%%= alternative.link %>" placeholder="http://..." >
    </div>

    <a href="#" class="remove remove-alternative" rel="tooltip" title="Remove this expense"></a>
  </li>
</script>

<script type="text/template" id="comment-template">
  <li class="comment">
    <%# TODO: Image del user que comenta  %>
    <%= image_tag(current_user.image, alt: current_user.display_name) %>
    <p><%%= comment.body %></p>
  </li>
</script>

<%= content_for :javascript do %>
  $(function () {
    var view = new TripBudget.Views.DestinationsHandler(<%= {
      travellers: @destination.travellers,
      destination: @destination,
      expenses: @destination.expenses.map {|e| e.attributes.merge(alternatives: e.alternatives, comments: e.comments) },
      totalDays: @destination.total_days,
      travellersNumber: @destination.travellers.count,
      minorUpdatePath: minor_update_trip_destination_path(@trip, @destination, format: :json),
      commentSubmitPath: create_comment_trip_destination_path(@trip, @destination, format: :json)
    }.to_json.html_safe %>);

    view.appendAll();

    $('#editable-header').editable({
      type: 'text',
      title: 'Edit destination name',
      pk: <%= @destination.id %>,
      url: '<%= minor_update_trip_destination_path(@trip, @destination, format: :json) %>',
      params: {
        "csrf-token": $('[name="csrf-token"]').attr('content')
      }
    });
  });
<% end %>
